modules = ["nodejs-20", "web", "postgresql-16", "python-3.11", "python3"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["SDL2", "SDL2_image", "SDL2_mixer", "SDL2_ttf", "freetype", "lcms2", "libcxx", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "mtdev", "openjpeg", "pkg-config", "tcl", "tk", "zlib", "mesa", "libGL"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35717
externalPort = 3001

[[ports]]
localPort = 45539
externalPort = 3000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Python App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Python App VNC"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Terminal App"

[[workflows.workflow]]
name = "Python App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Python App VNC"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow]]
name = "Terminal App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python terminal_app.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
integrations = ["firebase_barebones_javascript:1.0.0"]
